/* Defaults */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

/* Page layout */

.main-container {
    display: grid;
    grid-template: 1.5fr 9fr 50px / 1fr;
    height: 100vh;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.players {
    display: flex;
    justify-content: space-around;
}

.gameboard {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Header styling */

.header {
    background-color: orange;
}

.header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Gameboard styling */

.game-template {
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
}

.box {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: Arial;
}

/* Main container styling */

.game-state {
    text-align: center;
    flex: 0 1 15%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.player1, .player2 {
    text-align: center;
}



/* Footer styling */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}